<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Security-Policy"
	content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap: content:">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="theme-color" content="#2196f3">
<meta name="format-detection" content="telephone=no">
<meta name="msapplication-tap-highlight" content="no">
<title>PSI</title>

<link rel="stylesheet"
	href="{$uri}Public/Framework7/framework7/css/framework7.min.css">

<link rel="stylesheet" href="{$uri}Public/H5/css/Site.css">

</head>
<body>
	<div id="app">
		<div class="view view-main"></div>
	</div>

	<script type="text/javascript">
		userIsLoggedIn = "{$loggedIn}" == "1";
		baseURI = "{$uri}";
		productionName = "{$productionName}";
		demoLoginInfo = "{$demoLoginInfo}";
	</script>

	<script src="{$uri}Public/Framework7/framework7/js/framework7.min.js"></script>

	<script src="{$uri}Public/H5/JS/routes.js"></script>

	<script src="{$uri}Public/H5/JS/app.js"></script>
</body>
</html>
